doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../styles.css")
        title Document
    body 
    .sidebar.col-lg-3
        img.sidebar__img(src="../images/LogoFX.svg", alt="LogoFX")
        .sidebar__menu 

            .sidebar__lokation 
                .purple-block 
                .sidebar__menu-block 
                    .sidebar__menu-block-mini.purple 
                        img.sidebar__menu-img(src="../images/dashboard.svg", alt="")
                        p.sidebar__menu-txt Dashboard

            .sidebar__menu-block 
                .sidebar__menu-block-mini
                    img.sidebar__menu-img(src="../images/user.svg", alt="")
                    p.sidebar__menu-txt Open Account
                img.sidebar__menu-img(src="../images/direction.svg", alt="")

            .sidebar__menu-block 
                .sidebar__menu-block-mini
                    img.sidebar__menu-img(src="../images/exchange.svg", alt="")
                    p.sidebar__menu-txt Deposit & Withdraw
                img.sidebar__menu-img(src="../images/direction.svg", alt="")

            .sidebar__menu-block 
                .sidebar__menu-block-mini
                    img.sidebar__menu-img(src="../images/bar-chart.svg", alt="")
                    p.sidebar__menu-txt Trading History

            .sidebar__menu-block 
                .sidebar__menu-block-mini
                    img.sidebar__menu-img(src="../images/hand-in-hand.svg", alt="")
                    p.sidebar__menu-txt IB Partnership
                img.sidebar__menu-img(src="../images/direction.svg", alt="")

            .sidebar__menu-block 
                .sidebar__menu-block-mini
                    img.sidebar__menu-img(src="../images/hand-coin-line.svg", alt="")
                    p.sidebar__menu-txt Investments & Fund Mgmt
                img.sidebar__menu-img(src="../images/direction.svg", alt="")

    .main-content